In [17]:
import random
import time
import numpy as np
a = []
time_for = time.time()
for i in range(100000000):
    a.append(random.random())
time_2 = time.time()
a = [random.random()for x in range(100000000)] 
t1 = time.time()
print(time_2 - time_for, t1 - time_2)
sum1 = sum(a)
t2 = time.time()


b = np.array(a)
t4 = time.time()
sum3 = np.sum(b)
t5 = time.time()
print(t2 - t1, t5 - t4)

14.749451398849487 10.281902074813843
0.42310380935668945 0.04887247085571289

In [18]:
list2 = [[1, 2], [3, 4], [5, 6]]
np.array(list2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [19]:
four = np.array([[1,2,3],[4, 5,6]])
four.shape

(2, 3)

In [20]:
four.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [21]:
four.reshape(6, )

array([1, 2, 3, 4, 5, 6])

In [22]:
four = np.array([[1,2,3],[4, 5,6]])
four.shape

(2, 3)

In [27]:
four.reshape(3, 2)

array([[1, 2],
       [3, 4],
       [5, 6]])

In [28]:
four

array([[1, 2, 3],
       [4, 5, 6]])

In [25]:
four.reshape((6,), order='F')

array([1, 4, 2, 5, 3, 6])

In [29]:
four.flatten(order='F')

array([1, 4, 2, 5, 3, 6])

In [31]:
t = np.arange(24)
t

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23])

In [32]:
t.shape

(24,)

In [34]:
t1 = t.reshape((4, 6))
t1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [35]:
t1.shape

(4, 6)

In [38]:
t3 = t.reshape(2, 3, 4)
t3

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [39]:
t3.shape

(2, 3, 4)

In [41]:
a = np.array([9 ,12, 88, 13, 34])
a

array([ 9, 12, 88, 13, 34])

In [42]:
a.tolist()

[9, 12, 88, 13, 34]

In [44]:
f = np.array([1,2,3,4,5], dtype=np.int16)
f

array([1, 2, 3, 4, 5], dtype=int16)

In [46]:
# 返回数组每个元素的字节单位长度
f.itemsize

2

In [47]:
f.dtype

dtype('int16')

In [48]:
f.astype(np.int64)

array([1, 2, 3, 4, 5])

In [49]:
# 随机声场小数
round(random.random(), 2)

0.04

In [51]:
arr = np.array([random.random() for i in range(10)])
arr

array([0.67277939, 0.02853291, 0.02896947, 0.67050618, 0.3859499 ,
       0.49260043, 0.95166901, 0.44223118, 0.64771368, 0.21201018])

In [53]:
# 取小数点后两位
np.round(arr, 2)

array([0.67, 0.03, 0.03, 0.67, 0.39, 0.49, 0.95, 0.44, 0.65, 0.21])

In [55]:
t1 = np.arange(24).reshape((6, 4))
t2 = np.arange(100, 124).reshape((6, 4))

In [58]:
t1 + t2

array([[100, 102, 104, 106],
       [108, 110, 112, 114],
       [116, 118, 120, 122],
       [124, 126, 128, 130],
       [132, 134, 136, 138],
       [140, 142, 144, 146]])

In [59]:
t1 * t2

array([[   0,  101,  204,  309],
       [ 416,  525,  636,  749],
       [ 864,  981, 1100, 1221],
       [1344, 1469, 1596, 1725],
       [1856, 1989, 2124, 2261],
       [2400, 2541, 2684, 2829]])

In [60]:
t1 / 2

array([[ 0. ,  0.5,  1. ,  1.5],
       [ 2. ,  2.5,  3. ,  3.5],
       [ 4. ,  4.5,  5. ,  5.5],
       [ 6. ,  6.5,  7. ,  7.5],
       [ 8. ,  8.5,  9. ,  9.5],
       [10. , 10.5, 11. , 11.5]])

In [62]:
import numpy as np
a = np.array([[1,2,3], [4, 5, 6]])
a

array([[1, 2, 3],
       [4, 5, 6]])

In [63]:
np.sum(a, axis=0)

array([5, 7, 9])

In [67]:
a = np.arange(27).reshape((3, 3, 3))
a

array([[[ 0,  1,  2],
        [ 3,  4,  5],
        [ 6,  7,  8]],

       [[ 9, 10, 11],
        [12, 13, 14],
        [15, 16, 17]],

       [[18, 19, 20],
        [21, 22, 23],
        [24, 25, 26]]])

In [66]:
np.sum(a, axis=0)

array([[27, 30, 33],
       [36, 39, 42],
       [45, 48, 51]])

In [68]:
np.sum(a, axis=1)

array([[ 9, 12, 15],
       [36, 39, 42],
       [63, 66, 69]])

In [69]:
np.sum(a, axis=2)

array([[ 3, 12, 21],
       [30, 39, 48],
       [57, 66, 75]])

In [71]:
a = np.arange(10)
# 冒号分隔切片参数 start:stop:step 来进行切片操作
a[2:7:2]

array([2, 4, 6])

In [72]:
a[2:]

array([2, 3, 4, 5, 6, 7, 8, 9])

In [73]:
t1 = np.arange(24).reshape(4, 6)
t1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [74]:
t1[1]

array([ 6,  7,  8,  9, 10, 11])

In [75]:
t1[1,:]

array([ 6,  7,  8,  9, 10, 11])

In [76]:
t1[1:]

array([[ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [78]:
t1[1:3, :]

array([[ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17]])

In [80]:
t1[[0, 2, 3]]

array([[ 0,  1,  2,  3,  4,  5],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [81]:
t1[[0, 2, 3], :]

array([[ 0,  1,  2,  3,  4,  5],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [82]:
t1[:, 1]

array([ 1,  7, 13, 19])

In [84]:
t = np.arange(24).reshape(4, 6)

In [85]:
t

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [88]:
t[(t>2) & (t < 6)] = 0
t

array([[ 0,  1,  2,  0,  0,  0],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [89]:
score = np.array([[80, 88], [82, 81], [75, 81]])
result = np.where(score > 80, True, False)
result

array([[False,  True],
       [ True,  True],
       [False,  True]])

In [90]:
t = np.arange(24, dtype=float).reshape(4, 6)
t

array([[ 0.,  1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10., 11.],
       [12., 13., 14., 15., 16., 17.],
       [18., 19., 20., 21., 22., 23.]])

In [91]:
np.count_nonzero(t)

23

In [94]:
t[3, 4] = np.nan
t

array([[ 0.,  1.,  2.,  3.,  4.,  5.],
       [ 6.,  7.,  8.,  9., 10., 11.],
       [12., 13., 14., 15., 16., 17.],
       [18., 19., 20., 21., nan, 23.]])

In [97]:
print(id(np.nan))
print(id(np.nan))

140341681460880
140341681460880

In [98]:
np.count_nonzero(t != t)

1

In [99]:
np.sum(t, axis=0)

array([36., 40., 44., 48., nan, 56.])

In [101]:
a = np.arange(12).reshape(3, 4)
a

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [102]:
np.transpose(a)

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [103]:
a.T

array([[ 0,  4,  8],
       [ 1,  5,  9],
       [ 2,  6, 10],
       [ 3,  7, 11]])

In [105]:
t1 = np.arange(24).reshape(4, 6)
re = t1.swapaxes(1, 0)

In [106]:
t1

array([[ 0,  1,  2,  3,  4,  5],
       [ 6,  7,  8,  9, 10, 11],
       [12, 13, 14, 15, 16, 17],
       [18, 19, 20, 21, 22, 23]])

In [107]:
re

array([[ 0,  6, 12, 18],
       [ 1,  7, 13, 19],
       [ 2,  8, 14, 20],
       [ 3,  9, 15, 21],
       [ 4, 10, 16, 22],
       [ 5, 11, 17, 23]])